.info {
  display: flex;
}

.img_block {
  background-size: cover;
  background-position-y: 40%;
  border-radius: 6px;
  flex: 0 0 50%;
}

.text_block {
  padding-left: 55px;
  flex: 0 0 50%;
}

.image {
  border-radius: 6px;
}

.name {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  font-feature-settings: 'kern' off;
  /* Gray 1 */
  margin-bottom: 24px;
  color: #333333;
}

.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  /* Gray 2 */
  color: #4f4f4f;
  padding-bottom: 32px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 32px;
}

.price {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  /* Gray 1 */
  margin-bottom: 16px;
  color: #333333;
}

.rating {
  margin-bottom: 24px;
}

.rating span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray 3 */
  padding: 0 16px;
  color: #828282;
  border-right: 1px solid #a9a9a9;
}

.rating span:last-child {
  border-right: none;
}

.add_to_cart {
  display: flex;
  padding-bottom: 34px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.amount_block {
  display: flex;
  border: 1px solid #828282;
  margin-right: 16px;
}

.amount_block div,
.amount_block button {
  padding: 12px 24px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  border: none;
  outline: none;
  background: #fff;
  /* Gray 1 */
  border-right: 1px solid #828282;
  color: #333333;
}

.amount_block button:last-child {
  border-right: none;
}

.amount_button {
  cursor: pointer;
}

.add_to_cart_button {
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  /* fffffff */
  padding: 12px 24px;
  color: #ffffff;
  border: none;
  outline: none;
  background: #ff9f0d;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.add_to_cart_button:hover {
  background: #ff9e0dbe;
}

.add_to_cart_button[disabled] {
  background: #ff9e0dbe;
}

.add_to_cart_button img {
  margin-right: 8px;
}

.category {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  /* Gray 1 */

  color: #333333;
}

.category span {
  color: #4f4f4f;
}

.similar_block {
  margin-top: 61px;
}

.similar_products__title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  /* Gray 1 */
  margin-bottom: 32px;
  color: #333333;
}

.similar_products__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
