.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  flex-grow: 1;
}

.tools {
  display: flex;
  gap: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Gray 1 */
  margin-bottom: 32px;
  color: #333333;
}

.wrapper {
  display: flex;
  gap: 24px;
}

.filters {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  padding: 24px 30px;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter_title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Gray 1 */
  margin: 24px 0;
  color: #333333;
}

.form__item {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  /* Gray 1 */
  display: flex;
  gap: 8px;
  color: #333333;
}

.input_wrapper {
  display: flex;
}

.input_wrapper input {
  background: rgba(255, 159, 13, 0.1);
  padding: 10px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #828282;
  max-width: 200px;
}

.search_icon {
  padding: 13px;
  background: #ff9f0d;
}
